body{
    background-color: rgba(62, 109, 252, 1);
    font-family: 'Roboto', sans-serif;
}

@media screen  and (max-width: 560px) {

  .registerForm {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items:center;
      box-sizing: border-box;
      flex-wrap:wrap;
      min-width: 300px;
      margin: 200px auto; 
      border-radius: 5px;
  }

  .registerForm input{
    outline: 0;
    background: rgba(201, 224, 254, 1);
    width: 80%;
    border: 0;
    margin: 0 0 20px; 
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    }

    .button{
    background: rgba(12, 80, 166, 1);
    box-sizing: border-box;
    width: 50%;
    height: 31px;
    outline: 0;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    /* border: 2px solid #0099CC; */
    border:none;
    border-radius: 5px;
}
}
  
  /* width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease; */
  

/* 

#authSection{
    display:flex;
    justify-content: center;
    align-content: center;
}


.logForm{
    display:flex;
    margin:0 auto;
    flex-direction: column;
    width: 233px;
    height: 40px;
    background-color: aliceblue;
} */


/*
position: absolute;
width: 233px;
height: 40px;
left: 64px;
top: 164px;
=======
.btnClear{
    
}

#contentMessage{
width: 50px;
height: 50px;
border: 1px solid #FFFFFF;
}

